.contact-us {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-1);
    background: var(--white);

    /* Tablet up */
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        border-radius: 25px;
        border: 1px solid var(--grey-mid);
    }

    .left {
        height: 100%;
        display: grid;
        align-items: center;
        padding: var(--size-4);
        background: var(--grey-bg-light);
        text-align: center;

        img {
            margin: 0 auto;
        }

        /* Tablet up */
        @media screen and (min-width: 768px) {
            border-radius: 25px 0 0 25px;
            text-align: left;

            img {
                margin: 0;
            }
        }
    }

    .fields {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--size-1);
    }
}