.text-blob {
    font-size: 28px;
    max-width: 727px;
    padding-inline: var(--size-2);
    padding-top: var(--size-12);
    margin: 0 auto;
    text-align: center;
}

.block-how-it-works {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;


    #sticky-numbering {
        padding: var(--size-1);

        >div {
            border: 1px solid var(--grey-mid);
            border-radius: 100%;
            padding: 5px 10px;
            font-size: var(--size-2);
            font-family: 'BureauSerif', serif;
            color: var(--grey-mid);
            margin-bottom: var(--size-1);
            cursor: pointer;

            &.active {
                border: 1px solid var(--purple);
                color: var(--purple);
            }
        }
    }

    .snaps {
        /* height: 100vh; */
        height: 690px;
        margin-block: var(--size-12);
        overflow-y: auto;
        scrollbar-width: none;
        /* For Firefox */
        scroll-snap-type: y mandatory;

        &::-webkit-scrollbar {
            display: none;
            /* For Chrome, Safari, and Opera */
        }

        >div {
            margin-bottom: var(--size-10);
            height: 690px;
            scroll-snap-align: center;

            &#sn-one {
                .img {
                    background: url('/images/homepage-how-it-works-1.png') no-repeat center center;
                    background-size: contain;
                    min-height: 50vh;
                }
            }

            &#sn-two {
                .img {
                    background: url('/images/homepage-how-it-works-2.png') no-repeat center center;
                    background-size: contain;
                    min-height: 50vh;
                }
            }

            &#sn-three {
                .img {
                    background: url('/images/homepage-how-it-works-3.png') no-repeat center center;
                    background-size: contain;
                    min-height: 50vh;
                }
            }
        }
    }
}

.faces {
    position: relative;
    background: var(--gradient-2);
    color: var(--white);
    padding-block: var(--size-11);

    img {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 384px;
    }

    >div {
        max-width: 668px;
        padding: var(--size-2);
        margin: 0 auto;
    }
}