.blog-recent {
    background: var(--grey-bg-light);
    padding: var(--size-8) var(--size-2);

    >div {
        max-width: var(--content-width-wide);
        margin: 0 auto;

        .carousel {
            display: flex;
            gap: var(--size-2);
            overflow: hidden;
            scroll-snap-type: x mandatory;
            padding-block: var(--size-2);

            .carousel-item {
                display: inline-block;
                scroll-snap-align: start;
                scroll-snap-stop: always;
                min-width: 372px;

                .card {
                    background: var(--white);
                    min-height: 334px;
                }
            }
        }
    }
}