.customer-reviews {
    background: var(--grey-bg-mid) url('/images/bg-bettersaver-logo-mark.svg') no-repeat center center;
    background-size: cover;
    padding: var(--size-2);

    >div {
        max-width: var(--content-width-wide);
        margin: 0 auto;

        .carousel {
            .review {
                background: var(--white);
                padding: var(--size-3);
                border-radius: var(--size-3);
            }
        }
    }
}