.carousel {
    display: flex;
    gap: var(--size-2);
    overflow: hidden;
    scroll-snap-type: x mandatory;
    padding: var(--size-2);

    .carousel-item {
        display: block;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        min-width: 280px;

        /* Tablet */
        @media screen and (max-width: 1025px) {
            min-width: 30%;
            scroll-snap-align: center;
        }

        /* mobile */
        @media screen and (max-width: 767px) {
            min-width: 90%;
            scroll-snap-align: center;
        }

        .card {
            background: var(--white);
            min-height: 334px;
        }
    }
}