#site-nav-bar {
    z-index: 11;
    transition: all 0.5s ease-in-out;
    padding: var(--size-2);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    #logo {
        z-index: 1001;
        display: inline-block;
        position: relative;
    }

    a {
        color: var(--blue-navy);

        &:hover {
            color: var(--blue-happy);
        }
    }

    .button {
        background-color: var(--purple);
        color: var(--white);

        &:hover {
            background-color: var(--purple-contrast);
            color: var(--white);
        }
    }

    &.light {
        a {
            color: var(--white);

            &:hover {
                color: var(--grey-bg-light);
            }
        }

        .button {
            background-color: var(--white);
            color: var(--blue-navy) !important;

            &:hover {
                background-color: var(--grey-bg-light);
                color: var(--blue-navy);
            }
        }

        @media screen and (min-width: 768px) {
            nav.phone-menu span {
                background-color: var(--white) !important;
            }
        }
    }

    &.scrolled {
        background-color: var(--white);

        a {
            color: var(--blue-navy);

            &:hover {
                color: var(--blue-happy);
            }
        }

        .button {
            background-color: var(--purple);
            color: var(--white);

            &:hover {
                background-color: var(--purple-contrast);
                color: var(--white);
            }
        }

        nav.phone-menu span {
            background-color: var(--blue-navy) !important;
        }
    }

    #menu-mobile {
        display: none;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: var(--size-2);
    }

    #menu-tablet {
        display: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--size-2);
    }

    #menu-desktop {
        display: flex;
    }

    @media screen and (max-width: 1024px) {
        #menu-mobile {
            display: grid;
        }

        #menu-tablet {
            display: grid;
        }

        #menu-desktop {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        #menu-mobile {
            display: grid;
        }

        #menu-tablet {
            display: none;
        }

        #menu-desktop {
            display: none;
        }
    }
}

.title-area {

    .icon {
        position: absolute;
        bottom: -20px;
        max-width: 200px;
        z-index: 10;

        &.help {
            right: 40%;
            max-width: 300px;
        }

        &.financial-tips {
            right: 40px;
        }
    }

    .feature-icon {
        position: absolute;
        max-width: 200px;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .copy {
        max-width: 70%;

        &.help {
            max-width: 30%;
        }
    }

    .img {
        min-height: 300px;
    }

    /* Tablet and down */
    @media screen and (max-width: 768px) {

        >div>div {
            padding-top: 100px;
        }

        .feature-icon,
        .icon {
            display: none;
        }
    }
}


/* mobile menu */
nav.phone-menu {

    ul li {
        margin: 0;
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

        input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            margin: 0;
        }

        span {
            display: flex;
            width: 20px;
            height: 2px;
            margin-bottom: 4px;
            position: relative;
            background: var(--blue-navy);
            border-radius: 2px;
            z-index: 1;
            transform-origin: 2px 0px;
            /* middle of the x we hinge on */
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &.middle {
                width: 16px;
                margin-inline: auto;
            }
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(0, 0);
            background: var(--white);
        }

        input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, 0px);
        }

        input:checked~ul {
            transform: none;
        }
    }

    #menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 100px;
        background: var(--gradient-2);
        color: var(--white);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(400%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        padding-left: 20px;
        box-shadow: 0px 0px 64px 0px #00000080;


        @media screen and (max-width: 768px) {
            width: 100vw;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            left: 0;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                padding-block: 10px;
                transition-delay: 2s;
                display: block !important;
                font-size: 20px;

                a {
                    color: var(--white) !important;
                }
            }
        }

        img.icon {
            position: absolute;
            bottom: 40px;
            right: 40px;
        }
    }
}