#site-nav-bar {
    z-index: 11;
    transition: all 0.5s ease-in-out;

    a {
        color: var(--blue-navy);

        &:hover {
            color: var(--blue-happy);
        }
    }

    .button {
        background-color: var(--purple);
        color: var(--white);

        &:hover {
            background-color: var(--purple-contrast);
            color: var(--white);
        }
    }

    &.light {
        a {
            color: var(--white);

            &:hover {
                color: var(--grey-bg-light);
            }
        }

        .button {
            background-color: var(--white);
            color: var(--blue-navy);

            &:hover {
                background-color: var(--grey-bg-light);
                color: var(--blue-navy);
            }
        }
    }

    &.scrolled {
        background-color: var(--white);

        a {
            color: var(--blue-navy);

            &:hover {
                color: var(--blue-happy);
            }
        }

        .button {
            background-color: var(--purple);
            color: var(--white);

            &:hover {
                background-color: var(--purple-contrast);
                color: var(--white);
            }
        }
    }
}

.title-area {

    .icon {
        position: absolute;
        bottom: -20px;
        max-width: 200px;
        z-index: 10;

        &.help {
            right: 40%;
            max-width: 300px;
        }

        &.financial-tips {
            right: 40px;
        }
    }

    .feature-icon {
        position: absolute;
        max-width: 200px;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .copy {
        max-width: 70%;

        &.help {
            max-width: 30%;
        }
    }

    /* Tablet and down */
    @media screen and (max-width: 768px) {

        .feature-icon,
        .icon {
            display: none;
        }
    }
}