.title-area {

    .icon {
        position: absolute;
        bottom: -20px;
        max-width: 200px;
        z-index: 100;

        &.help {
            right: 40%;
            max-width: 300px;
        }

        &.financial-tips {
            right: 40px;
        }
    }

    .feature-icon {
        position: absolute;
        max-width: 200px;
        z-index: 100;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .copy {
        max-width: 70%;

        &.help {
            max-width: 30%;
        }
    }

    /* Tablet and down */
    @media screen and (max-width: 768px) {

        .feature-icon,
        .icon {
            display: none;
        }
    }
}