#site-nav-bar {
    z-index: 11;
    transition: all 0.5s ease-in-out;
    padding: var(--size-2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;

    #logo {
        z-index: 1001;
        display: inline-block;
        position: relative;
        color: var(--blue-navy);
        transition: color 0.25s ease-in-out;

        svg {
            transition: all 0.25s ease-in-out;


            /* top right of n - right */
            .closed1 {
                stop-color: #9966FF;
                transition: stop-color 0.25s ease-in-out;
            }

            .open1 {
                stop-color: var(--white);
                transition: stop-color 0.25s ease-in-out;
            }

            /* top right of n - left */
            .closed2 {
                stop-color: #99CCFF;
                transition: stop-color 0.25s ease-in-out;
            }

            .open2 {
                stop-color: var(--white);
                transition: stop-color 0.25s ease-in-out;
            }

            /* bottom left of n - right */
            .closed3 {
                stop-color: #003399;
                transition: stop-color 0.25s ease-in-out;
            }

            .open3 {
                stop-color: var(--white);
                transition: stop-color 0.25s ease-in-out;
            }

            /* bottom left of n - left */
            .closed4 {
                stop-color: #9966FF;
                transition: stop-color 0.25s ease-in-out;
            }

            .open4 {
                stop-color: var(--white);
                transition: stop-color 0.25s ease-in-out;
            }
        }
    }

    @media screen and (max-width: 768px) {
        padding: var(--size-2) 0 var(--size-2) var(--size-2);
        
        .open #logo {
            color: var(--white);
        }
    }

    a {
        color: var(--blue-navy);

        &:hover {
            color: var(--blue-happy);
        }
    }

    .button {
        background-color: var(--purple);
        color: var(--white);

        &:hover {
            background-color: var(--purple-contrast);
            color: var(--white);
        }
    }

    &.light {
        @media screen and (min-width: 812px) {
            a {
                color: var(--white);

                &:hover {
                    color: var(--grey-bg-light);
                }
            }

            .button {
                background-color: var(--white);
                color: var(--blue-navy);

                &:hover {
                    background-color: var(--grey-bg-light);
                    color: var(--blue-navy);
                }
            }

            nav.phone-menu span {
                background-color: var(--white) !important;
            }
        }
    }

    &.scrolled {
        background-color: var(--white);

        a {
            color: var(--blue-navy);

            &:hover {
                color: var(--blue-happy);
            }
        }

        .button {
            background-color: var(--purple);
            color: var(--white);

            &:hover {
                background-color: var(--purple-contrast);
                color: var(--white);
            }
        }

        nav.phone-menu span {
            background-color: var(--blue-navy) !important;
        }
    }

    #menu-mobile {
        display: none;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: var(--size-2);
    }

    #menu-tablet {
        display: none;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: var(--size-2);
    }

    #menu-desktop {
        display: flex;
        align-items: center;

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            margin-right: 40px;
            font-size: 19px;
            font-weight: bold;


            li {
                padding-right: var(--size-2);
                
                &:last-child {
                    padding-right: 0 !important;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr auto;

        #menu-mobile {
            display: grid;
        }

        #menu-tablet {
            display: grid;
        }

        #menu-desktop {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        #menu-mobile {
            display: grid;
        }

        #menu-tablet {
            display: none;
        }

        #menu-desktop {
            display: none;
        }
    }
}

.title-area {
    position: relative;

    .icon {
        position: absolute;
        bottom: -20px;
        max-width: 200px;
        max-height: 260px;
        z-index: 10;

        &.help {
            right: 40%;
            max-width: 300px;

            /* Tablet down */
            @media screen and (max-width: 1024px) {
                max-width: 200px;
                left: 30% !important;
            }

            /* Mobile down */
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &.financial-tips {
            right: 40px;
        }
    }

    img.feature-icon {
        position: absolute;
        max-width: 200px;
        z-index: 10;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .copy {
        max-width: 70%;

        &.help {
            max-width: 30%;

            /* Mobile down */
            @media screen and (max-width: 768px) {
                max-width: 90%;
            }
        }
    }

    .img {
        min-height: 300px;
        position: relative;
    }

    .footer-icons {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: var(--size-2);
        position: absolute;
        bottom: 40px;
        left: 40px;
        color: var(--blue-navy);
    }

    /* Tablet and down */
    @media screen and (max-width: 820px) {

        >div {
            grid-template-columns: 1fr;
        }

        .feature-icon,
        .icon {
            transform: translate(0%, 0%);
            top: 53% !important;
            left: 80% !important;

            &.financial-tips {
                transform: translate(0%, 0%);
                top: -80px !important;
                left: 75% !important;
            }
        }

        .copy {
            max-width: 100%;

            &.financial-tips {
                max-width: 70%;
            }
        }

        .footer-icons {
            color: var(--white);
            background-color: rgba(36, 46, 84, 0.8);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 20px;
            grid-template-columns: 1fr 2fr;

            >div {
                padding: 0;

                &:first-child {
                    text-align: right;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        &.feature>div:first-child>div {
            padding-top: 100px;
        }

        .feature-icon,
        .icon {
            transform: translate(0%, 0%);
            top: 60% !important;
            left: 70% !important;

            &.financial-tips {
                display: none;
            }
        }

        .footer-icons svg {
            width: 100%;
        }
    }
}


/* mobile menu */
nav.phone-menu {

    ul li {
        margin: 0;
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        max-width: 20px;
        margin-left: auto;

        input {
            display: flex;
            width: 40px;
            height: 32px;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            margin: 0;
        }

        span {
            display: flex;
            width: 20px;
            height: 2px;
            margin-bottom: 4px;
            position: relative;
            background: var(--blue-navy);
            border-radius: 2px;
            z-index: 1;
            transform-origin: 2px 0px;
            /* middle of the x we hinge on */
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &.middle {
                width: 16px;
                margin-inline: auto;
            }
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }

        input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(0, 0);
            background: var(--white);
        }

        input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, 0px);
        }

        input:checked~ul {
            transform: none;
        }
    }

    #menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100vh;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 100px;
        background: var(--gradient-2);
        color: var(--white);
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(400%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        padding-left: 20px;
        box-shadow: 0px 0px 64px 0px #00000080;


        @media screen and (max-width: 768px) {
            width: 100vw;
            transform-origin: 0% 0%;
            transform: translate(200%, 0);
            left: 0;
        }

        ul {
            padding: 0;
            list-style: none;

            li {
                padding-block: 10px;
                transition-delay: 2s;
                display: block !important;
                font-size: 20px;

                a {
                    color: var(--white) !important;
                }
            }
        }

        img.icon {
            position: absolute;
            bottom: 115px;
            right: 40px;
        }
    }
}

a.need-help {
    bottom: 40px;
    right: 40px;
    background: var(--utility-blue-light);
    color: var(--black);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s ease;

    @media screen and (min-width: 768px) {
        position: absolute;
    }

    &:hover {
        background: var(--link-invert);
    }

    img {
        width: 40px;
        height: 40px;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}

#contact-us {
    scroll-margin-top: 100px;
}