.landingpage {
    width: 100vw;
    height: calc(100vh - 62px);
    display: grid;
    justify-items: center;
    align-items: center;

    >div {
        max-width: 960px;
        padding-inline: 20px;

        h1 {
            margin-bottom: 5px;
        }

        p {
            font-size: 37px;

            @include for-phone-only {
                font-size: 15px;
            }
        }

        .email-capture {
            max-width: 400px;
            margin: 0 auto;
            background: #fff;
            border-radius: 25px;
            padding: 40px;
        }
    }
}