<div class="what">
    <div>1 / 2/ 3</div>

    <div class="content grid grid-cols-2 gap-2">
        <div>img</div>
        <div>
            <h3>Tell us a little about you</h3>
            <p>The right KiwiSaver fund depends on your life — not just your age. We start by understanding your goals,
                comfort with
                risk, and what matters to you ethically. </p>

            <div>
                <h5>What we ask</h5>

                <ul>
                    <li>Are you saving for your first home or for retirement?</li>
                    <li>How do you feel about investment ups and downs?</li>
                    <li>Do you want to avoid things like weapons, gambling, or fossil fuels?</li>
                </ul>

                <p>It only takes a couple of minutes — and it's the foundation for better advice.</p>
            </div>

        </div>
    </div>

</div>