<section class="landingpage animated fadeIn">
    <div>
        <h1><img src="imgs/BS_wordmark_white.png" alt="" /></h1>

        <p class="mb-0 text-center">Better KiwiSaver advice coming soon...</p>

        {{/*<div class="email-capture">
            <strong>Register your interest</strong><br /><br />
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: "6726102",
                    formId: "2666fec4-953e-41c1-88e5-839f8c05d0ec",
                    region: "na1"
                });
            </script>
        </div>
        */}}
    </div>
</section>