.text-blob {
    font-size: 28px;
    max-width: 727px;
    padding-inline: var(--size-2);
    padding-top: var(--size-12);
    margin: 0 auto;
    text-align: center;

    @media (max-width: 1024px) {
        text-align: left;
    }
}

.block-how-it-works {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: var(--size-4);
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr auto;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    #sticky-numbering {
        padding: var(--size-1);
        position: sticky;
        top: 0;
        padding-top: 36vh;
        padding-bottom: 30.5vh;

        >div {
            border: 1px solid var(--grey-mid);
            border-radius: 100%;
            padding: 5px 10px;
            font-size: var(--size-2);
            font-family: 'BureauSerif', serif;
            color: var(--grey-mid);
            margin-bottom: var(--size-1);
            cursor: pointer;

            &.active {
                border: 1px solid var(--purple);
                color: var(--purple);
            }
        }
    }

    .snaps {
        margin-block: var(--size-12);
        /* overflow-y: auto; */
        scrollbar-width: none;
        /* For Firefox */
        scroll-snap-type: y mandatory;

        &::-webkit-scrollbar {
            display: none;
            /* For Chrome, Safari, and Opera */
        }

        >div {
            scroll-snap-align: center;

            &#sn-one {
                min-height: 62vh;
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--size-2);
                align-items: center;
                scroll-margin-top: 15vh;

                @media (max-width: 1024px) {
                    grid-template-columns: 1fr 1fr;
                    scroll-margin-top: 10vh;
                    align-items: start;
                    min-height: auto;
                }

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    min-height: auto;
                    margin-bottom: var(--size-4);
                }
            }

            &#sn-two {
                min-height: 100vh;
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--size-2);
                align-items: center;

                @media (max-width: 1024px) {

                    grid-template-columns: 1fr 1fr;
                    min-height: 80vh;
                }

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    min-height: auto;
                    margin-bottom: var(--size-4);
                }
            }

            &#sn-three {
                min-height: 41vh;
                display: grid;
                grid-template-columns: 1fr;
                gap: var(--size-2);
                scroll-margin-top: 30vh;

                @media (max-width: 1024px) {
                    scroll-margin-top: 10vh;
                    grid-template-columns: 1fr 1fr;
                    min-height: auto;
                }

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    min-height: auto;
                }
            }
        }
    }

    /* imgs */
    .sticky-img-container {
        position: sticky;
        top: 0;
        padding-top: 15vh;
        padding-bottom: 80px;
    }

    .sn-one-img {
        background: url('/images/homepage-how-it-works-1.png') no-repeat right top;
        background-size: contain;
        min-height: 60vh;

        @media (min-width: 1024px) {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &.active {
            opacity: 1;
        }

        @media (max-width: 768px) {
            min-height: 43vh;
        }
    }

    .sn-two-img {
        background: url('/images/homepage-how-it-works-2.png') no-repeat right top;
        background-size: contain;
        min-height: 60vh;

        @media (max-width: 768px) {
            min-height: 43vh;
        }

        @media (min-width: 1024px) {
            position: absolute;
            width: 100%;
            top: 15vh;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.3s ease;

            &.active {
                opacity: 1;
            }
        }
    }

    .sn-three-img {
        background: url('/images/homepage-how-it-works-3.png') no-repeat right top;
        background-size: contain;
        min-height: 60vh;

        @media (max-width: 768px) {
            min-height: 43vh;
        }

        @media (min-width: 1024px) {
            position: absolute;
            width: 100%;
            top: 15vh;
            left: 0;
            right: 0;
            opacity: 0;
            transition: opacity 0.3s ease;

            &.active {
                opacity: 1;
            }
        }
    }

}

.faces {
    position: relative;
    background: var(--gradient-2);
    color: var(--white);
    padding-block: var(--size-11);

    img {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 384px;
    }

    >div {
        max-width: 668px;
        padding: var(--size-2);
        margin: 0 auto;
    }
}