<div class="feature-card">
    {{ if .Params.img_src }}
    <a href="{{ .RelPermalink }}" class="post-image" style="background-image: url('{{ .Params.img_src }}');"></a>
    {{ end }}

    <div class="p-4 relative">
        <h4 class="mb-2">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </h4>
        <p class="mb-4">{{ .Params.description }}</p>

        <div class="mb-4"><a href="{{ .RelPermalink }}" class="button">Read more</a></div>

        <div class="published">
            <div>{{ .Params.author }}</div>
            <small>{{ .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) }}</small>
        </div>
    </div>
</div>