<div class="grid grid-cols-1 bg-grey-bg-light rounded-[25px] min-[960px]:grid-cols-[1fr_2fr]">
    {{ if .Params.img_src }}
    <a href="{{ .RelPermalink }}" class="block bg-cover bg-center rounded-t-[25px] min-h-[400px] min-[960px]:rounded-t-none min-[960px]:rounded-l-[25px]" style="background-image: url('{{ .Params.img_src }}');"></a>
    {{ end }}

    <div class="p-4 relative">
        <h4 class="mb-2">
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </h4>
        <p class="mb-4">{{ .Params.description }}</p>

        <div class="mb-4"><a href="{{ .RelPermalink }}" class="button">Read more</a></div>

        {{- $dateMeta := "" -}}
        {{- if not .Date.IsZero -}}
          {{- $dateMeta = .Date.Format (default "January 2, 2006" .Site.Params.date_format) -}}
        {{- end -}}
        <div class="md:absolute md:bottom-4 md:left-4">
            {{ partial "author-byline.html" (dict "page" . "variant" "card" "meta" $dateMeta) }}
        </div>
    </div>
</div>