/* Display */
.hidden {
    display: none;
}

.mobile-hidden {

    /* Tablet down */
    @media screen and (max-width: 768px) {
        display: none !important;
    }
}

.mobile-show {

    /* Tablet up */
    @media screen and (min-width: 768px) {
        display: none !important;
    }
}

.tablet-hidden {

    /* Tablet down */
    @media screen and (max-width: 1024px) {
        display: none !important;
    }
}

.tablet-show {

    /* Tablet up */
    @media screen and (min-width: 1024px) {
        display: none !important;
    }
}