footer {
    background: var(--gradient-footer);

    .footer-verticle-border {
        @media screen and (min-width: 600px) {
            border-left: 1px solid rgba(36, 46, 84, 0.4);
            padding-left: var(--size-4);
        }
    }

    .footer-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-1);
        align-items: center;

        >div:first-child {
            text-align: right;
        }

        img {
            max-height: 50px;
        }
    }

    #footer-copy {
        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    #footer-copy-mobile {
        @media screen and (min-width: 600px) {
            display: none;
        }
    }
}