footer {
    background: var(--gradient-footer);

    .footer {
        max-width: var(--content-width-wide);
        margin: 0 auto;
        padding: var(--size-4);

        .logo-mark {
            text-align: center;
            margin-bottom: var(--size-4);

            @media screen and (max-width: 600px) {
                text-align: left;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 20px 0 0 0;

            li {
                font-size: 20px;
            }

            &.lh-menu {
                text-align: right;

                @media screen and (max-width: 600px) {
                    text-align: left;
                }
            }
        }
    }

    .footer-verticle-border {
        @media screen and (min-width: 600px) {
            border-left: 1px solid rgba(36, 46, 84, 0.4);
            padding-left: var(--size-4);
        }
    }

    .footer-logos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-1);
        align-items: center;

        >div:first-child {
            text-align: right;
        }

        img {
            max-height: 50px;
        }
    }

    #footer-copy {
        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    #footer-copy-mobile {
        @media screen and (min-width: 600px) {
            display: none;
        }
    }
}