.shadow {
    box-shadow: 0px 8px 40px -8px #00000026;
}

.grid {
    display: grid;
}

.grid-cols-2-auto {
    grid-template-columns: 1fr;

    /* Tablet up */
    @media screen and (min-width: 768px) {
        grid-template-columns: 1fr auto;
    }
}

.grid-cols-auto-2 {
    grid-template-columns: auto 1fr;
}

.grid-cols-2 {
    grid-template-columns: 1fr;

    @media (min-width:600px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-cols-3 {
    grid-template-columns: 1fr;

    /* Tablet up */
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid-cols-4 {
    grid-template-columns: 1fr;

    /* Tablet up */
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gap,
.gap-1 {
    gap: var(--size-1);
}

.gap-2 {
    gap: var(--size-2);
}

.gap-3 {
    gap: var(--size-3);
}

.gap-4 {
    gap: var(--size-4);
}

.gap-5 {
    gap: var(--size-5);
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.fixed-b {
    position: fixed;
    bottom: 0;
}

.fixed-t {
    position: fixed;
    top: 0;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.sticky {
    position: sticky;
    top: 20px;
}

place-center {
    place-items: center;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-end {
    justify-content: end;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.items-baseline {
    align-items: baseline;
}

.align-start {
    align-items: start;
}

.align-items-last-baseline {
    align-items: last baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-center {
    align-self: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.w-max {
    width: max-content;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/* Display */
.hidden {
    display: none;
}

.mobile-hidden {

    /* Tablet down */
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.overflow {
    overflow: hidden;
}

.overflow-x {
    overflow-x: hidden;
}

.overflow-y {
    overflow-y: hidden;
}

.border {

    &-t,
    &-top {
        border-top: 1px solid var(--grey-bg-mid);
    }

    &-b,
    &-bottom {
        border-bottom: 1px solid var(--grey-bg-mid);
    }


    &-l,
    &-left {
        border-left: 1px solid var(--grey-bg-mid);
    }

    &-r,
    &-right {
        border-right: 1px solid var(--grey-bg-mid);
    }
}

.rounded {
    border-radius: 25px;
}